<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link rel="stylesheet" href="/public/css/detailRecipe.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/public/css/slick.css">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>
<link rel="stylesheet" href="/public/css/loveBtn.css">
<style>

    .swiper {
      width: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }
</style>

<div class="container-sm mt-5" style="margin-bottom: 100px;">
  <div class="row">
    <div class="col-9">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/public/images/test_img.jpg" data-fancybox="finished" data-caption="Finished dish photo">
                        <img class="finish-img" src="/public/images/test_img.jpg" alt="" />
                    </a>
                </div>   
                <div class="swiper-slide">
                    <a href="/public/images/test_img.jpg" data-fancybox="finished" data-caption="Finished dish photo">
                        <img class="finish-img" src="/public/images/test_img.jpg" alt="" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/public/images/test_img.jpg" data-fancybox="finished" data-caption="Finished dish photo">
                        <img class="finish-img" src="/public/images/test_img.jpg" alt="" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/public/images/test_img.jpg" data-fancybox="finished" data-caption="Finished dish photo">
                        <img class="finish-img" src="/public/images/test_img.jpg" alt="" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/public/images/test_img.jpg" data-fancybox="finished" data-caption="Finished dish photo">
                        <img class="finish-img" src="/public/images/test_img.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="border-wrapper mt-4" style="padding: 10px 12px; display: flex; align-items: center;justify-content: space-between;">
            <div class="recipe-name">
                Phở bò Hà Nội
            </div>
            <div class="reaction d-flex align-items-center">
                <span style="font-size: 13px;color: #333;">You and 132 people love this</span>
                <button class="btn-love ms-2 act">
                    <span class="fa fa-heart"></span>
                    <div class="small-ornament">
                        <div class="ornament o-1"></div>
                        <div class="ornament o-2"></div>
                        <div class="ornament o-3"></div>
                        <div class="ornament o-4"></div>
                        <div class="ornament o-5"></div>
                        <div class="ornament o-6"></div>
                    </div>
                    <div class="circle">
                        <svg ><ellipse id="eclipse" rx="50" ry="50" cx="67.5" cy="67.5" fill-opacity="1" stroke-linecap="" stroke-dashoffset="" fill="transparent" stroke-dasharray="" stroke-opacity="1" stroke-width="0" stroke="#988ADE"></ellipse></svg>
                    </div>
                </button>
                
            </div>
        </div>
        <div class="border-wrapper mt-4">
            <p style="font-weight: bold;">Write by:</p>
            <div class="row ms-2 mb-2">
                <div class="col-1">
                    <img src="/public/images/demo_avt.png" width="100%" class="author-avt" alt="">
                </div>
                <div class="col">
                     <p class="author-name">Đăng Khoa</p>
                    <p class="time-post">at April 11, 2023</p>
                    <button type="button " class="btn btn-secondary">Follow</button>
                </div>
            </div>
            <span class="description">Mùa này ở các chợ cua đều rẻ, thịt lại đầy chắc, được dịp ăn tha hồ </span>
        </div>

        <div class="border-wrapper mt-4">
            <p style="font-weight: bold;">Ingredients:</p>
            <div class="d-flex ms-4">
                <div>
                    <span>
                        <i class="fa-solid fa-clock"></i>
                        Ready in:
                    </span>
                    <span class="cookingTime">30 min</span>
                </div>
                <div class="ms-3">
                    <span>
                        <img src="/public/images/apron.png" width="21px" alt="">
                        Prepare:
                    </span>
                    <span class="preparationTime">30 min</span>
                </div>
            </div>
            <ul class="list-group list-group-flush mt-2">
                <li class="list-group-item">
                    <span class="ingredient-name">50g Thịt bò</span>
                    <span class="ingredient-calories">200 cal</span>
                </li>
                <li class="list-group-item">
                    <span class="ingredient-name">50g Thịt bò</span>
                    <span class="ingredient-calories">200 cal</span>
                </li>
                <li class="list-group-item">
                    <span class="ingredient-name">50g Thịt bò</span>
                    <span class="ingredient-calories">200 cal</span>
                </li>
                
            </ul>
        </div>
        <div class="border-wrapper mt-4">
            <p style="font-weight: bold;">Directions:</p>
            <div class="step-wrapper mb-5">
                <p class="step-header" style="font-weight: bold; font-style: italic; text-decoration: underline;">Step 1:</p>
                <p class="step-description indent">Thịt thăn bò thái mỏng. Gừng đập dập.Sau đó cho lẫn gừng vào thịt bò, lấy lưng dao đập đập cho thịt mềm khi trụng mà không làm tơi miếng thịt.Nước sôi, cho thị vào muôi to, nhúng tái thịt</p>
                <div class="step-img-wrapper slick-4">
                    <a href="/public/images/demo_step.jpg" data-fancybox="step-1" data-caption="Step 1 photo">
                        <img src="/public/images/demo_step.jpg" alt="">
                    </a>
                    <a href="/public/images/demo_step.jpg" data-fancybox="step-1" data-caption="Step 1 photo">
                        <img src="/public/images/demo_step.jpg" alt="">
                    </a>
                    <a href="/public/images/demo_step.jpg" data-fancybox="step-1" data-caption="Step 1 photo">
                        <img src="/public/images/demo_step.jpg" alt="">
                    </a>
                    <a href="/public/images/demo_step.jpg" data-fancybox="step-1" data-caption="Step 1 photo">
                        <img src="/public/images/demo_step.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="step-wrapper">
                <p class="step-header" style="font-weight: bold; font-style: italic; text-decoration: underline;">Step 2:</p>
                <p class="step-description indent">Thịt thăn bò thái mỏng. Gừng đập dập.Sau đó cho lẫn gừng vào thịt bò, lấy lưng dao đập đập cho thịt mềm khi trụng mà không làm tơi miếng thịt.Nước sôi, cho thị vào muôi to, nhúng tái thịt</p>
                <div class="step-img-wrapper slick-4">
                    <a href="/public/images/demo_step.jpg" data-fancybox="step-2" data-caption="Step 2 photo">
                        <img src="/public/images/demo_step.jpg" alt="">
                    </a>
                    <a href="/public/images/demo_step.jpg" data-fancybox="step-2" data-caption="Step 2 photo">
                        <img src="/public/images/demo_step.jpg" alt="">
                    </a>
                    <a href="/public/images/demo_step.jpg" data-fancybox="step-2" data-caption="Step 2 photo">
                        <img src="/public/images/demo_step.jpg" alt="">
                    </a>
                    <a href="/public/images/demo_step.jpg" data-fancybox="step-2" data-caption="Step 2 photo">
                        <img src="/public/images/demo_step.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="border-wrapper mt-4">
            <p style="font-weight: bold;">Comments:</p>
            <div class="comment-textbox" style="display: flex; align-items: center; margin: 0 20px;">
                <img class="me-3" style="border-radius:50%" src="/public/images/demo_avt.png" width="32" height="32" alt="">
                <div class="input-text d-flex" style="flex: 1;padding: 5px 16px;border-radius: 20px;border: 1px solid #ccc;">
                    <input class="input-comment" type="text" >
                    <button style="background: transparent;border: none;font-size: 18px;"><i class="bi bi-send"></i></button> 
                </div>
            </div>
            <div class="list-comment-wrapper mt-4">
                <div class="comment-item">
                    <img src="/public/images/demo_avt.png" width="32px" height="32px" style="border-radius: 50%; margin:6px 16px 0 0" alt="">
                    <div class="col">
                        <p class="author-name">Đăng Khoa</p>
                        <span class="time-comment">3 hours ago</span>
                        <p class="comment-content">Bài đăng chia sẻ công thức nấu ăn này rất hữu ích và thú vị! Các bước hướng dẫn rõ ràng và dễ hiểu, cho phép người đọc tự tay thực hiện các bước để tạo ra món ăn ngon. Tôi rất đánh giá cao việc chia sẻ kiến thức nấu ăn của tác giả, vì nó giúp cho cộng đồng có thêm nhiều lựa chọn cho các bữa ăn trong gia đình. Đây là một bài viết rất đáng để đọc và chia sẻ với mọi người!</p>
                    </div>
                </div>
                <div class="comment-item">
                    <img src="/public/images/demo_avt.png" width="32px" height="32px" style="border-radius: 50%; margin:6px 16px 0 0" alt="">
                    <div class="col">
                        <p class="author-name">Đăng Khoa</p>
                        <span class="time-comment">3 hours ago</span>
                        <p class="comment-content">Bài đăng chia sẻ công thức nấu ăn này rất hữu ích và thú vị! Các bước hướng dẫn rõ ràng và dễ hiểu, cho phép người đọc tự tay thực hiện các bước để tạo ra món ăn ngon. Tôi rất đánh giá cao việc chia sẻ kiến thức nấu ăn của tác giả, vì nó giúp cho cộng đồng có thêm nhiều lựa chọn cho các bữa ăn trong gia đình. Đây là một bài viết rất đáng để đọc và chia sẻ với mọi người!</p>
                    </div>
                </div>
                <div class="comment-item">
                    <img src="/public/images/demo_avt.png" width="32px" height="32px" style="border-radius: 50%; margin:6px 16px 0 0" alt="">
                    <div class="col">
                        <p class="author-name">Đăng Khoa</p>
                        <span class="time-comment">3 hours ago</span>
                        <p class="comment-content">Bài đăng chia sẻ công thức nấu ăn này rất hữu ích và thú vị! Các bước hướng dẫn rõ ràng và dễ hiểu, cho phép người đọc tự tay thực hiện các bước để tạo ra món ăn ngon. Tôi rất đánh giá cao việc chia sẻ kiến thức nấu ăn của tác giả, vì nó giúp cho cộng đồng có thêm nhiều lựa chọn cho các bữa ăn trong gia đình. Đây là một bài viết rất đáng để đọc và chia sẻ với mọi người!</p>
                    </div>
                </div>
                <div class="comment-item">
                    <img src="/public/images/demo_avt.png" width="32px" height="32px" style="border-radius: 50%; margin:6px 16px 0 0" alt="">
                    <div class="col">
                        <p class="author-name">Đăng Khoa</p>
                        <span class="time-comment">3 hours ago</span>
                        <p class="comment-content">Bài đăng chia sẻ công thức nấu ăn này rất hữu ích và thú vị! Các bước hướng dẫn rõ ràng và dễ hiểu, cho phép người đọc tự tay thực hiện các bước để tạo ra món ăn ngon. Tôi rất đánh giá cao việc chia sẻ kiến thức nấu ăn của tác giả, vì nó giúp cho cộng đồng có thêm nhiều lựa chọn cho các bữa ăn trong gia đình. Đây là một bài viết rất đáng để đọc và chia sẻ với mọi người!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="right-panel " role="group" aria-label="Vertical button group">
            <button type="button">
                <i class="fa-solid fa-bookmark"></i>
                Save to favorite
            </button>
            <button type="button"><i class="fa-solid fa-print"></i>Print</button>
            <div class="row">
                <div class="col-9">
                    <button type="button"><i class="fa-solid fa-share"></i>Share</button>
                </div>
                <div class="col">
                    <button type="button"><i class="fa-solid fa-ellipsis" style="margin: 0;"></i></button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>

<script src="/public/script/loveBtn.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
{{#section 'script2'}}
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
        $('.slick-4').slick({
    dots: true,
    infinite: true,
    speed: 400,
    autoplay: true,
    autoplaySpeed: 2800,
    slidesToShow: 3,
    slidesToScroll: 3,
    responsive: [
      {
        breakpoint: 1400,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          arrows: false
        }
      },
      {
        breakpoint: 1000,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false
        }
      }
    ]
  });
</script>
<script>
    Fancybox.bind("[data-fancybox]", {
  // Your custom options
});
</script>
{{/section}}