<link rel="stylesheet" href="/public/css/jarallax.css">
<section >   
    
    <img src="/public/images/text.png" id="text" style="    width: 45%;" />
  <img src="https://i.ibb.co/BZs8WZr/stars.png" id="stars" />
    <img src="/public/images/dishes.png" id="right_cloud" width="300px"/>
</section>
<h2 style="height: 1000px;"></h2>
<script src="/public/script/jarallax.js"></script>