.sharedrecipe{
    width: 18rem;
    margin-right: 1rem;
    height: 22rem;
    min-width: 18rem;
    min-height: 25rem;
    max-width: 25rem;
    max-height: 32rem;
}
p {
    overflow:hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
h5 {
    overflow:hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.recipeName{
    text-decoration: none;
    color: black;
}
.recipeName:hover{
    color: #5161ce
}
