<link rel="stylesheet" href="/public/css/pagination.css">
<div class="card">
  <div class="card-header">
   Reported User
  </div>
  <div class="card-body">
    {{#if this.isEmpty}}
      <p>No Data</p>
    {{else}}
      <table class="table table-striped">
        <thead>
          <tr>
            <th  scope="col">Reason</th>
            <th >Report by</th>
            
            
          </tr>
        </thead>
        <tbody>
          {{#each this.list}}
            <tr >
              <td scope="col" style=" max-width:200px">
                  <p style="overflow:auto;">{{reason}}</p>
                </td>
                <td >
                    {{userReport}}
                </td>               
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    </div>
    <div class="card-footer">
      <a name="" id="" class="btn btn-primary" href="/admin/accounts?&p=1" role="button"><i class="fa-solid fa-arrow-left"></i>Back</a>
    </div>
  </div>
    
</script>
